#server {
#    listen 80;
#    server_name laravel.com.co;
#    return 301 https://laravel.com.co$request_uri;
#}

server {
    listen 80;
    listen [::]:80;

    # For https
    # listen 443 ssl;
    # listen [::]:443 ssl ipv6only=on;
    # ssl_certificate /etc/nginx/ssl/default.crt;
    # ssl_certificate_key /etc/nginx/ssl/default.key;

    server_name hixon.coffee.com cus.coffee.com;
    root /var/www/frontend/dist;
    index index.html index.htm;


    error_log /var/www/logs/coffee_front_error.log;
    access_log /var/www/logs/coffee_front_access.log;
}
